.panel {
  width: 100vw;
  background-color: antiquewhite;
  /* background-color: darkslategray; */
  /* display: grid; */
  /* grid-template-columns: auto auto auto; */
  /* padding: 10px; */
  box-sizing: border-box;
}
